.page-header{
    background-color: cyan;

}
h3 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.needs_list li{
    margin: 20px;
    float: left;
    list-style: none;
}
.gimmes{
    margin-bottom: 150px;
}